name: Continuous Integration

on:
  push:
    branches:
      - main

  pull_request:

  workflow_dispatch:

permissions: {}

env:
  PYTHON_VERSION: "3.10"

jobs:
  determine_changes:
    name: "determine changes"

    runs-on: ubuntu-latest

    outputs:
      # Flag that is raised when any code is changed
      code: ${{ steps.check_code.outputs.changed }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Determine merge base
        id: merge_base
        env:
          BASE_REF: ${{ github.event.pull_request.base.ref || 'main' }}
        run: |
          sha=$(git merge-base HEAD "origin/${BASE_REF}")
          echo "sha=${sha}" >> "$GITHUB_OUTPUT"

      - name: Check if there was any code related change
        id: check_code
        env:
          MERGE_BASE: ${{ steps.merge_base.outputs.sha }}
        run: |
          if git diff --quiet "${MERGE_BASE}...HEAD" -- \
            . \
            ':!docs/' \
            ':!CODE_OF_CONDUCT.md' \
            ':!CONTRIBUTING.md' \
            ':!LICENSE' \
            ':!pyproject.toml' \
            ':!README.md' \
            ':!zensical.toml' \
          ; then
            echo "changed=false" >> "$GITHUB_OUTPUT"
          else
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

  pre-commit:
    name: "pre commit"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@3542bca2639a428e1796aaa6a2ffef0c0f575566 # v3.1.4

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: stable
          override: true

      - name: Install Rustfmt nightly
        run: |
          rustup component add rustfmt --toolchain nightly

      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  cargo-test:
    name: "cargo test (${{ matrix.os }})"

    runs-on: ${{ matrix.os }}

    needs: determine_changes
    if: ${{ (needs.determine_changes.outputs.code == 'true' || github.ref == 'refs/heads/main') }}

    strategy:
      max-parallel: 18
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Update Rust toolchain
        run: rustup update

      - name: Run tests
        run: |
          cargo test
